@import "themes/theme.css";

* {
  font-family: "SF Pro Text", sans-serif;
  font-weight: bold;
  font-size: 12px;
}


window#waybar {
  background: @bar-bg;
  color: @main-fg
}

tooltip {
  background: @main-bg;
  color: @main-fg;
  border-radius: 10px;
}

#workspaces {
  background-color: @main-bg;
  margin-left: 6px;
  border-radius: 50px;
}

#workspaces button.active {
  background-color: @wb-act-bg;
  color: @wb-act-fg;
  border-radius: 50px;
}

#taskbar {
  background-color: @main-bg;
  border-radius: 50px;
}

#taskbar button.active {
  background-color: @wb-act-bg;
  border-radius: 50px;
}

#clock,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#tray,
#battery,
#keyboard-state,
#custom-cliphist,
#custom-power,
#mpris,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
  color: @main-fg;
  background: @main-bg;
  margin: 2px 0px 2px 0px;
  padding-left: 4px;
  padding-right: 4px;
}

#tray menu {
  background-color: @main-bg;
  color: @main-fg;
}

#tray menu menuitem:hover {
  background-color: @wb-act-bg;
  color: @wb-active-fg;
}

#custom-r_end {
  border-radius: 0px 50px 50px 0px;
  margin-right: 7px;
  padding-right: 9px;
}

#custom-l_end {
  border-radius: 50px 0px 0px 50px;
  margin-left: 7px;
  padding-left: 9px;
}